<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- <link rel="stylesheet" -->
<!-- 	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
</head>
<body style="text-align: center;">

	<div class="background"
		style="background: url(/image/rsz_12khung-vien-dep-powerpoint_022258315.png) no-repeat; height: 685px; width: 991px; text-align: center;">
		<p class="text-1"
			style="padding-top: 60px; font-size: 30px; font-weight: 200;">Website
			học online ALED</p>
		<p class="text-2"
			style="font-size: 30px; font-weight: 500; color: #ecc16b;">Chứng
			nhận</p>
		<p class="name"
			style="position: relative; padding-top: 20px; font-size: 70px">Nguyễn
			Quốc Sỹ</p>
		<i class="hoan-thanh" style="font-size: 20px; font-weight: 600;">Đã
			hoàn thành khóa học</i>
		<p class="ke-toan"
			style="font-size: 48px; color: red; font-weight: 600;">Lập trình
			Java6</p>
		<i class="ngay-hoan-thanh" style="font-size: 25px;"><span
			style="color: #ecc16b">Ngày hoàn thành:</span> 16/05/2020</i>
<!-- 		<div class="row padding-top" style="padding-top: 50px;"> -->
<!-- 			<div class="col-md-6 col-sm-12 "> -->
<!-- 				<p class="class-ngay-thang" style="font-size: 20px;">Số hiệu -->
<!-- 					chứng nhận</p> -->
<!-- 				<p class="giam-doc" style="font-size: 26px;">ALED - 2524001040</p> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-6 col-sm-12"> -->
<!-- 				<p class="class-ngay-thang">Hà Nội, ngày 28 tháng 10 năm 2021</p> -->
<!-- 				<p class="giam-doc">GIÁM ĐỐC</p> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>
</body>
</html>